.DS_Store
node_modules/
/public/hot
/public/storage
/storage/*.key
/vendor
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
.env
/keys

# don't commit compiled assets
/public/css/*
/public/js/*
!/public/css/.gitkeep
!/public/js/.gitkeep