.post .post-info {
    margin-bottom: 7px;
}
.post .post-info small {
    margin-right: 7px;
    display: inline-block;
}
.content-box.post .content-box-header h3 span {
    color: #fff;
}
.post .post-info a {
    color: inherit;
}