.content-box.home {
  margin-top: 0;
}
.home .marketing {
    text-align: center;
}

.home-countdown {
    text-align: center;
    font-size: 21px;
    color: $brand-success;
    border-top: 1px dashed #f5f5f5;
    margin-top: 15px!important;
    padding: 20px 0 0 0;
    .number {
        display: inline-block;
        padding: 0 15px 0 0;
        margin: 0 0 10px;
        font-size: 22px;
    }
    .number span {
        background: $brand-success;
        color: #fff;
        width: 85px;
        padding: 22px 0;
        font: 35px Helvetica, Arial, sans-serif;
        display: block;
        border-radius: 50px;
        box-shadow: 0 0 5px #ccc;
    }
    .number span:hover {
        background: $brand-primary;
    }
    .number span:empty {
        content: "0";
    }
}