// Info Bar Styles

#infobar {
    position: absolute;
    top: 87px;
    left: 0;
    width: 100%;
    background: #fff;
    padding: 5px 0;
    border-bottom: 1px solid $navbar-border-color;
    z-index: 5;
    min-height: 35px;
    opacity: 0.95;
    color: $brand-success;
}
#infobar .tune-to {
}
#infobar .times {
    text-align: right;
}
#infobar .countdown {
    text-align: center;
    font-weight: bold;
    display: none;
    color: $brand-success;
    font-size: 15px;
}
#infobar .countdown.cancelled {
    color: $brand-warning;
}
#infobar .now-playing {
    @extend .countdown;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
#infobar a {
    font-weight: bold;
    color: inherit!important;
}
#infobar .now-playing .song {
    font-style: italic;
}

@media screen and (max-width: 991px) { 
    #infobar {
        top: 76px;
    }
}

@media screen and (max-width: 767px) { 
    #infobar div {
        text-align: center!important;
    }
}

@media screen and (max-width: 480px) {
    #infobar {
        top: 62px;
    }
}